{% extends "szablon.html" %}
{% block tytul %}Quiz - lista pyań{% endblock %}
{% block h1 %}Quiz - lista pyań{% endblock %}

{% block tresc %}
    <form method="POST">
    <ol>
    {% for p in pytania %}
        <li>{{ p.pytanie }}
            <ol class="odpowiedzi">
            {% for o in p.odpowiedzi %}
                <li>
                    <input type="radio" value="{{ o.id }}" name="{{ p.id }}">
                    {{ o.odpowiedz }}</li>
            {% endfor %}
            </ol>
        </li>
    {% endfor %}
    </ol>

    <input type="submit" value="Prześlij">
    </form>
{% endblock %}
